<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	 crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	 crossorigin="anonymous"></script>
	<script src="../js/getLink.js"></script>
	<link rel="shortcut icon" type="image/ico" href="../js/dist/favicon.ico"/>
	<style>
		.bg-orange {
          background-color: #d21717;
      }
  </style>
</head>
<div class="container-fluid">
	<header class="row pt-4 pb-3 bg-orange">
		<h1 class="offset-1 col-10 text-white">Get your link</h1>
	</header>
	<section>
		<div class="row mt-3">
			<p class="offset-1 col-10">Whichever wallet you have will have an option to recieve payment to the wallet. This will
				expose your public "Stellar address" that <span>love-button</span> will use to send money to you.
			</p>
		</div>
		<div class="row">
			<p class="offset-1 col-10">
				Make sure you choose Stellar address not federation address.
			</p>
		</div>
		<div class="row">
			<p class="offset-1 col-10">
				Your Stellar address should be a 56
				character string of alphanumeric characters not anything that looks like a url. You will copy this address
				and paste it into the public key input. </p>
		</div>
		<div class="row">
				<p class="offset-1 col-10">
					Paste your link anywhere people see your content! </p>
			</div>
	</section>

	<section class="offset-1 col-10 p-0">
		<div class="input-group input-group-sm mb-3">
			<div class="input-group-prepend">
				<span class="input-group-text" id="inputGroup-sizing-sm">Your public key:</span>
			</div>
			<input type="text" class="form-control" id="publicKey"placeholder="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx">
		</div>
		<div class="input-group input-group-sm mb-3">
			<div class="input-group-prepend">
				<span class="input-group-text" id="inputGroup-sizing-sm">Name or text to display with your key:</span>
			</div>
			<input type="text" class="form-control" id="name" placeholder="YourName">
		</div>

		<div class="row">
			<button type="button" class="btn btn-primary offset-4 col-4" id="getLinkSubmitBtn">Generate Link</button>
		</div>

		<br>
		<br>
		<div class="input-group input-group-sm mb-3">
			<div class="input-group-prepend">
				<span class="input-group-text" id="inputGroup-sizing-sm">Your generated link:</span>
			</div>
			<input type="text" class="form-control" id="link" placeholder="Enter your info and click the button to get your link">
		</div>

	</section>
</div>

</html>