<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <script src="../js/getLink.js"></script>
  </head>
  <div class="container">
    <label class="input-group-text" required="true">Your PUBLIC key:</label>
    <input type="text" placeholder="Public key" id="publicKey">
    <label class="input-group-text" maxlength="256" required="true">Name or text to display with your key:</label>
    <input type="text" placeholder="Name" id="name">
    <br><br>
    <button type="button" id="getLinkSubmitBtn">
      Get Link
    </button>
    <br><br>
    <label class="input-group-text">Your link:</label>
    <input type="text" placeholder="Result" id="name">
  </div>
</html>