<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">
        </script>
        <link rel="shortcut icon" type="image/ico" href="../js/dist/favicon.ico"/>
    <style>
        .bg-orange {
            background-color: #d21717;
        }
    </style>
</head>

<body class="container-fluid">
    <header class="row pt-4 pb-3 bg-orange">
        <h1 class="offset-1 col-10 text-white">Getting Started Page - Content Creators</h1>
    </header>
    <div class="row mt-3">
        <h3 class="offset-1 col-10">I already have the cryptocurrency Stellar Lumens and know how to use them.</h3>
    </div>
    <div class="row">
        <p class="offset-1 col-10">That's great! Just <a href="/get-my-link">click here</a> to start using <span>love-button</span>!</p>
    </div>
    <div class="row">
        <h3 class="offset-1 col-10">What are Stellar Lumens?</h3>
    </div>
    <div class="row">
        <p class="offset-1 col-10">Stellar is global payment network built on the blockchain and powered by a cryptocurrency called
            Lumens (also abbreviated as XLM). Learn more about the amazing project: <a href="https://www.stellar.org/">stellar.org</a>.
            We are using Stellar because the ultra-low transaction fees make micro-tipping possible.
    </div>

    <div class="row">
        <h3 class="offset-1 col-10">I need a wallet for my Stellar Lumens.</h3>
    </div>
    <div class="row">
        <p class="offset-1 col-10">This part is pretty easy! You will want to choose a wallet to store the Stellar Lumens
            you recieve on love-button. <a href="https://www.stellar.org/lumens/wallets/">Wallets
                Recommended by Stellar</a>.</p>
    </div>
    <div class="row">
        <p class="offset-1 col-10">I personally have been happy with the <a href="https://lobstr.co/">LOBSTR</a> wallet on my phone
            and the web.</p>
    </div>

    <div class="row">
        <h3 class="offset-1 col-10">I have my wallet for my Steller Lumens, how do I use love-button?</h3>
    </div>
    <div class="row">
        <p class="offset-1 col-10">Whichever wallet you choose will have an option to recieve payment to the wallet. This will
            expose your public "Stellar address" that <span>love-button</span> will use to send money to you. Make sure
            you choose "Stellar address" not "federation address". Your Stellar address should be a 56
            character string of alphanumeric characters not anything that looks like a url. You will copy this address
            and paste it into the public key input on this page: <a href="/get-my-link">Get my link.</a></p>
    </div>
    <div class="row">
        <p class="offset-1 col-10"> Now you have your link! Post this anywhere people see your content and they can click it send
            some love your way. The default links will just have a number ("/pages/00001") but if you want a
            specialized link ("/pages/YOUR_NAME_HERE") you can follow the steps on <a href="/get-my-link/premium">Premium
                Links</a>.
        </p>
    </div>
</body>

</html>