<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body class="card" style="width: 48rem;">
    <div style="text-align: center">
    <header class="row">
      <h1 class="col-12 bg-danger text-white" style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">Love Button</h1>
    </header>

    <div class="row">
      <p id="destKey" class="col-12">{{key}}</p>
    </div>

    <div class="row mb-2">
      <div class="col-12">
        <input type="text" id="sourceKeyIn" class="form-control" placeholder="Your Private Key">
      </div>
    </div>
    
    <div class="input-group col-12">
        <div class="input-group-prepend">
          <label class="input-group-text" for="selectedCurrency">Currency</label>
        </div>
        <select id="selectedCurrency" class="custom-select">
          <option value="xlm" selected="selected">XLM</option>
          <option value="usd">USD (translated to XLM)</option>
        </select>
        <input type="text" id="paymentAmount" class="col-5 form-control" placeholder="Payment amount">
    </div>

    <div class="row mb-2">
      <div class="col-6">      
        <button type="text" id="defaultPaymentAmountBtn" class="col-12 btn btn-danger" title="Change default in options page for this extension">Send 0.02$</button>
      </div>
      <div class="col-6">      
        <button type="button" id="sendPaymentBtn" class="col-12 btn btn-danger">Send Payment</button>
      </div>
    </div>

    <div id="priceCheckDiv" class="row mb-2">
      <p id="xlmPrice" class="col-8">loading</p>
      <div class="col-4">
          <button type="button" id="priceCheck" class="col-12 btn btn-danger" title="Updated at most 5 minutes ago">Update price</button>
      </div>

    </div>

    <div id="accountBalanceOuterDiv" class="row mb-2">
      <p id="accountBalanceDiv" class="col-8">Source is needed to check balance</p>
      <div class="col-4">
          <button type="button" id="accountBalanceCheck" class="col-12 btn btn-danger">Check balance</button>
      </div>
    </div>

    <footer class="row bg-danger pb-0">
      <a class="col-12 text-white" href="https://love-button.glitch.me/about">About Love Button</a>
    </footer>
  </div>
  </body>
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script src="../js/index.js"></script>
</html>